.maintitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #000000;
}

.subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.sectiontitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}

.label {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #404149;
}

input{
    background: #EFEFF1;
    height: 48px;
}