<!--/*
*  ***********************************************************************
*  Cassiano Simas CONFIDENTIAL
*  ___________________
*
*  Copyright 2022 Cassiano Simas
*  All Rights Reserved.
*
*  NOTICE:  All information contained herein is, and remains the property
*  of Cassiano Simas and its suppliers, if any. The intellectual and
*  technical concepts contained herein are proprietary to Cassiano Simas
*  and its suppliers and are protected by trade secret or copyright law.
*  Dissemination of this information or reproduction of this material
*  is strictly forbidden unless prior written permission is obtained
*  from Cassiano Simas.
*  ***********************************************************************
*/-->

<sly data-sly-use.grdientbarModel="com.signupform.core.models.Grdientbar" />
<div class="bar">
    <a href="${properties.buttonpath}" class="textbox">
        <div class="link">
            <img src="/content/dam/signupform/back.png" alt="&lt;&lt;" class="icon" />
            <p class="linktext">${properties.button}</p>
        </div>
    </a>
</div>
<div class="progressbar">
    <div></div>
  </div>