
//== Font

$font-family:           'Roboto', sans-serif;
$font-size:             16px;
$font-height:           1.5;

//== Color

// Normal mode
$color-foreground:      white;
$color-background:      white;
$color-link:            #2020E0;

// Dark mode
$color-foreground-dark: ($color-foreground);
$color-background-dark: ($color-background);
$color-link-dark:       ($color-link);
