<!--/*
*  ***********************************************************************
*  Cassiano Simas CONFIDENTIAL
*  ___________________
*
*  Copyright 2022 Cassiano Simas
*  All Rights Reserved.
*
*  NOTICE:  All information contained herein is, and remains the property
*  of Cassiano Simas and its suppliers, if any. The intellectual and
*  technical concepts contained herein are proprietary to Cassiano Simas
*  and its suppliers and are protected by trade secret or copyright law.
*  Dissemination of this information or reproduction of this material
*  is strictly forbidden unless prior written permission is obtained
*  from Cassiano Simas.
*  ***********************************************************************
*/-->

<sly data-sly-use.customformModel="com.signupform.core.models.Customform" />

<form id="customform" onsubmit="handlesubmit(event)">
     <div>
          <p class="maintitle">${properties.title}</p>
          <p class="subtitle">${properties.subtitle}</p>
          <div class="top">
               <p class="sectiontitle">${properties.sectionone}</p>
               <p class="label">${properties.fieldlabelones1}</p>
               <input placeholder="${properties.placeholderlabelones1}" />
          </div>
     </div>
     <div class="sectioncontainer">
          <p class="sectiontitle">${properties.sectiontwo}</p>
          <div class="gridcontainer">
               <div>
                    <p class="label">${properties.sectiontwolabelone}</p>
                    <input placeholder="${properties.sectiontwoplaceholderone}" />
               </div>
               <div>
                    <p class="label">${properties.sectiontwolabeltwo}</p>
                    <input placeholder="${properties.sectiontwoplaceholdertwo}" />
               </div>
               <div>
                    <p class="label">${properties.sectiontwolabelthree}</p>
                    <input placeholder="${properties.sectiontwoplaceholderthree}" oninput="this.setCustomValidity('')"
                         id="NIF" />
                         <span class="errormessage"></span>
               </div>
          </div>
     </div>
     <div class="sectioncontainer">
          <p class="maintitle">${properties.sectionthreetitle}</p>
          <p class="subtitle">${properties.sectionthreesubtitle}</p>
          <div class="bottom">
               <div>
                    <p class="label">${properties.sectionthreelabelone}</p>
                    <input placeholder="${properties.sectionthreeplaceholderone}" />
               </div>
               <div>
                    <p class="label">${properties.sectionthreelabeltwo}</p>
                    <input placeholder="${properties.sectionthreeplaceholdertwo}" />
               </div>
               <div>
                    <p class="label">${properties.sectionthreelabelthree}</p>
                    <input placeholder="${properties.sectionthreeplaceholderthree}" />
               </div>
          </div>
     </div>
</form>
</div>
<script>
     function handlesubmit(event) {

          event.preventDefault();
          console.log("first run");
          let input = document.forms["customform"]["NIF"];
          let nif = input.value;
          if (nif === "") {
               return input.setCustomValidity(
                    "Campo vazio. Por favor introduza um NIF válido com 9 dígitos."
               );
               // event.preventDefault();
          } else if (isNaN(nif)) {
               return input.setCustomValidity("Por favor insira seu NIF.");
               // event.preventDefault();
          } else if (nif.length < 9) {
               return input.setCustomValidity(
                    "NIF inválido. Por favor introduza um NIF válido com 9 dígitos."
               );
               console.log(
                    "NIF inválido. Por favor introduza um NIF válido com 9 dígitos."
               );
               // event.preventDefault();
          }
          console.log("form is submitted");
          console.log(nif);
          console.log(Number(nif));
          // event.preventDefault();
     }
</script>